<div class="team-player">
  <%= image_tag 'avatar/Adrien.jpg', class:"avatar", alt:"avatar" %>
  <p>Jean-Michel</p>
  <%= image_tag 'social_network/010-linkedin.png', class:'social_lkd' %>
</div>

<%# photo url
name
linkedin given as variable  %>
