// .container-index{
//   margin-left: 10px;
//   margin-right: 10px;
// }


.first-wrapper-index{
  margin-top: 80px;
  background-color: #F6F6F6;
  padding: 15vh 15vh 30vh 15vh;
}

.metriques-index{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  margin: 30px auto !important;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 60%;
  p{
    margin:0;
    font-weight: bolder;
    font-size:15px;
  }
  .icon{
    font-size: x-large;
    align-items: center;
    margin: 0;
  }
}

.metriques-box{
  display: inline-flex;
  color: black;
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 25px;
  border-radius: 70px;
    h3{
      font-family: 'Nunito';
      font-weight: bold;
    }
}

.metriques-investor{
  padding-left: 10px;
  padding-right: 10px;
  height: 80%;
  padding-right: 60px;
  border-right: 3px solid #F6F6F6;
}

.metriques-list{
  padding-left: 10px;
  padding-right: 10px;
}

.metriques-indiv{
  font-family: 'Nunito';
  font-size: small;
}

.cards{
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}



.cards-category {
  font-family: 'Nunito';
  background-size: cover;
  background-position: center;
  display: block;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgba(48, 47, 47, 0.1);
  margin: 1em;
}

.cards-category:hover{
  box-shadow: 0 0 15px rgba(255,163,114,.6);
  transform: scale(1.08);
  transition: all 0.5s ease;
}

.cards-icons{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin :0;
  width: 100%;
  img{
    width:20px;
  }
  p{
    font-family: 'Nunito';
    font-size: 8px;
    text-shadow: none;
    margin: 0;
  }
}

#statistics {
  display: none;
  width: 100%;
  text-align: center;
  p{
    font-family: 'Nunito';
    font-size: 20px;
    text-shadow: none;
    margin: 0;
    font-weight: bolder;
  }
  .btn-flat1{
    padding: 5px 25px;
    margin-top: 5px !important;
    border-radius: 50px;
    font-size: 13px;
    font-weight: bolder !important;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-color: #FF0082;
  }
  .btn-flat1:hover{
     color: #fff;
    background-color: #c9056a;
    border-color: #c9056a;
  }
}

// .card > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

// .card p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }

// .card .card-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

// .card .card-icons {
//   display: inline-flex;
//   justify-content: space-between;
//   // align-items: flex-end;
//   // position: relative;
//   align-items: center;
//   justify-content: center;
//   border: none;
//   color: rgb(34, 34, 34);
//   margin: 0px;
//   width: 32px;
//   height: 32px;
// }

// .card-infos .card-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
