.wrapper-dataroom{
  margin-top: 80px;
  background-color: #F6F6F6;
  padding: 15vh 15vh 30vh 15vh;
  .second-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}

.elements{
  margin-bottom: 20px;
  h1{
    font-family: 'Rampart One';
    font-size: 50px;
    color: #FFA372;
    margin-bottom: 1rem;
    span{
      color: #FA7F72;
    }
  }
}

.cta{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:70%;
  .chrono{
    font-family: 'Nunito';
    margin-right: 20px;
    font-weight: bolder !important;
    font-size: 15px;
    text-decoration: none;
    background-color: transparent;
    color: #FFA372 !important;
    padding: 8px 35px;
    border-radius: 50px;
    border: 1px solid #FFA372;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  li{
    list-style-type: none;
    margin-right: 30px;
    a{
      font-family: 'Nunito';
      font-weight: bolder !important;
      font-size: 15px;
      text-decoration: none;
      background-color: #FF0082;
      color: white !important;
      padding: 8px 35px;
      border-radius: 50px;
      border: 1px solid #FF0082;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    a:hover{
      color: #FF0082 !important;
      font-weight: bolder !important;
      background-color: white;
      border-color: #FF0082;
    }
  }
}

.row-data_room{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-table{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #FFA372;
  padding: 0 220px;
    h3{
    font-family: 'Nunito';
    font-weight: bolder;
    font-size: 18px;
    }
  img{
    width: 35px;
    height: 40px;
    object-fit: cover;
  }
  .circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.actions .team-icons{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin :0;
  width: 40%;
  a:hover{
    font-weight: bolder !important;
    background-color: #FF0082;
    padding: 5px 5px;
    border-radius: 50px;
    img{
      width:24px;
    }
  }
}

.body-table{
  background-color: white;
  padding: 52px 0 50px 70px;
}

.row-dasboard{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column-dataroom{
  width: 25%;
  font-family: 'Nunito';
  background-size: cover;
  background-position: center;
  padding: 10px;
  color: black;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  border: 1px solid rgb(228, 228, 228);
}

.all-documents{
  display: flex;
  flex-direction: column;
  flex:1;
}

.names{
  width: 58%;
  a{
    font-family: 'Nunito';
    font-weight: bolder !important;
    font-size: 15px;
    margin: 50px;
    text-decoration: none;
    background-color: transparent;
    color: #FF0082 !important;
    padding: 8px 35px;
    border-radius: 50px;
    border: 1px solid #FF0082;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    a:hover{
    color: white !important;
    font-weight: bolder !important;
    background-color: #FF0082;
    border-color: #FF0082;
  }
  .document-name{
    padding: 20px 10px;
  }
}

.line-data_room{
  display: flex;
  flex:1;
  justify-content: flex-start;
  align-items: center;
}

.index{
  display: flex;
  flex:1;
   h3{
    font-family: 'Nunito';
    font-weight: bolder;
    font-size: 18px;
    margin: 20px;
  }
}

.actions{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 40%;
}

// .card-data {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   margin: 3%;
//   margin-right: 20%;
//   margin-left: 20%;
//   width: 50%;
// }

// .card-data img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-data p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-data .card-product-infos {
//   padding: 16px;
// }

.btn-dataroom{
  font-family: 'Nunito';
  font-weight: bolder !important;
  font-size: 15px;
  text-decoration: none;
  background-color: #FF0082;
  color: white !important;
  padding: 8px 35px;
  border-radius: 50px;
  border: 1px solid #FF0082;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-dataroom:hover{
  color: #FF0082 !important;
  font-weight: bolder !important;
  background-color: white;
  border-color: #FF0082;
}
