.dashboard {
  background-color: white;
  margin-top: 3rem;
  padding-top: 2rem;
  border-radius: 20px;
  padding-bottom: 2rem;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.nav-link.active {
  background-color: #FA7F72 !important;
}

h5 {

}
