// Specific CSS for your home-page
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.description {
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.5;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  .description{
    padding: 0 100px;
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: grey;
  }
}

h1{
  font-family: 'Urbanist', sans-serif;
  color: black;
}

.services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.service {
  display: block !important;
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: left;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  height: 300px;
  h4{
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    line-height: 70px;
    text-align: left;
    color: black;
    margin: 0;
  }
}

.service2{
  h4{
    padding-top: 20px;
  }
}

.smart_money {
  width: 50% !important;
  background: #F9F9F9;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  -webkit-box-flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #F7F3F2;
  height: 500px;
  width: 700px;
    .title_block {
      color:black;
      text-align: left;
    .title_orange{
      color: #FFA372;
      }
    .title_red{
      color: #FA7F72;
      }
    }
   h4{
    color: black;
    font-family: 'Nunito';
    font-weight: thin;
    text-align: left;
  }
  .button-home{
    display: inline-block;
    .btn{
      padding: 8px 35px;
      border-radius: 50px;
      font-weight: lighter;
      display: inline-block;
      font-weight: 400;
      color: black;
      text-align: center;
      vertical-align: middle;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      user-select: none;
      border-color: #FF0082;
    }
    .btn-flat1{
      background-color: #FF0082;
      margin-right: 20px;
      color: white;

    }
    .btn-ghost{
      background-color: transparent;
      color: #FF0082;
    }
    .btn:hover{
      color: #fff;
      background-color: #c9056a;
      border-color: #c9056a;
    }
  }
}

.smart_invest{
  align-items: center;
}

.smart_money_img {
  img{
    width:555px;
  }
}


.block1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.user-journey{
  h1{
    margin-bottom: 100px !important;
  }
}

hr {
    border-top: 2px solid #F9F9F9;
    margin: 100px auto;
    width: 50%;
}

.block_investor {
    display: flex;
    justify-content: space-between;
    background-position: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: left;
}





/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    .footer {
      height: 260px;
    }
}

/* Newsletter
-------------------------------------------------- */
.newsletter{
  margin-bottom: 80px;
  h1{
    margin-bottom: 30px;
  }
  h4{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .btn-flat-red{
    color: white;
    font-family: 'Nunito';
    font-size: 13px;
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    background: #FA7F72;
    transition: background-color 0.3s ease;
    justify-content: space-around;
  }
  .btn-flat-red:hover{
      color: #fff;
      background-color: #c9056a;
      border-color: #c9056a;
  }
  .Email{
    border: 1px solid #FA7F72;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    padding: 3px 33px;
    color: #FA7F72;
    margin-right: 10px;
    // ::placeholder{
    //   color: yellowgreen;
    // }
  }
}
