// Specific CSS for your home-page
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: #fff;
  color: #999;
}

.description {
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.5;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  .description{
    padding: 0 100px;
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: grey;
  }
}

h1{
  color: black;
  margin-bottom: 70px;
}

.services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.service {
  display: block !important;
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: left;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  height: 300px;
  h4{
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    line-height: 70px;
    text-align: left;
    color: black;
  }
}

.service2{
  h4{
    padding-top: 20px;
  }
}

.smart_money {
  width: 40% !important;
  background: #F9F9F9;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  -webkit-box-flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #F7F3F2;
  height: 500px;
  width: 700px;
    .title_block {
      color:black;
      text-align: left;
    .title_orange{
      color: #FFA372;
      }
    .title_red{
      color: #FA7F72;
      }
    }
   h4{
    color: black;
    font-family: 'Nunito';
    font-weight: thin;
    text-align: left;
  }
}

.smart_invest{
  align-items: center;
}

.smart_money_img {
  img{
    width:555px;
  }
}


.block1 {
    display: flex;
    justify-content: space-evenly;
}

hr {
    border-top: 2px solid #F9F9F9;
    margin: 100px auto;
    width: 50%;
}

.block_investor {
    display: flex;
    justify-content: space-between;
    background-position: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: left;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
      margin-bottom: 700px;
    }
    .footer {
      height: 260px;
    }
}

/* Newsletter
-------------------------------------------------- */
.newsletter{
  h1{
    margin-bottom: 30px;
  }
  h4{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .btn-flat-red{
    color: white;
    font-family: 'Nunito';
    font-size: 12px;
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    background: #FA7F72;
    transition: background-color 0.3s ease;
    justify-content: space-around;
  }
  .Email{
    border: 1px solid #FA7F72;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 27px;
    padding: 3px 33px;
    color: #FA7F72;
    margin-right: 10px;
  }
}
