.wrapper-api{
  padding-top: 2rem;
  border-radius: 20px;
  padding-bottom: 2rem;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  background-color: #F6F6F6;
  padding: 15vh 15vh 30vh 15vh;
  .elements-api{
  margin-bottom: 20px;
  text-align: center;
  h1{
    font-size: 50px;
    margin: 50px;
    }
  }
  .button-figures{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px;
    width: 100%;
    .btn{
      padding: 8px 35px;
      border-radius: 50px;
      font-weight: lighter;
      display: inline-block;
      font-weight: 400;
      color: black;
      text-align: center;
      vertical-align: middle;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      user-select: none;
      border-color: #FF0082;
    }
    .btn-flat1{
      background-color: #FF0082;
      margin-right: 20px;
      color: white;
      margin-left: 10px;
    }
    .btn-ghost{
      background-color: transparent;
      color: #FF0082;
    }
    .btn:hover{
      color: #fff;
      background-color: #c9056a;
      border-color: #c9056a;
    }
  }
}

  .line{
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    h2{
      font-family: 'Nunito';
      font-size: 20px;
      font-weight: bolder;
      text-align: center;
    }
  }


  .colonne{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    max-width: none;
    min-height: 350px;
    h1{
      font-size: 30px;
      text-align: center;
    }
    .data{
      display: flex;
      flex-direction: column;
      width: 80%;
      justify-content: center;
      margin:0;
      p{
        text-align: center;
        padding: 8px 35px;
        border-radius: 50px;
        font-weight: lighter;
        display: inline-block;
        font-weight: 400;
        user-select: none;
        border: 1px solid #FFA372;
        border-color: #FFA372;
        color: #FFA372;
        background-color:transparent;
        border-color: #FFA372;
      }
      .fin{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
          width: 80%;
        }
        h5{
        font-family: 'Nunito';
        font-size:'30px';
        font-weight: bolder;
        text-align: left;
      }
    }
  }
}



.dashboard .row .col-4{
  .names {
    width: 100%;
    .line-project .index{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
    }
    .project{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .button{
      margin: 0;
      padding: 0px 8px;
      justify-content: center;
      font-size: 27px;
      border: none !important;
    }
    .team-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 20%;
    }
  }
}
