<footer class="footer-lobster">
  <div class="first-column width-column">
    <h5 class="footer-desc">Lobster.</h5>
    <p class="footer-desc" style="width:70%">Nous permettons le financement de projets d’entreprises à fortes ambitions 🚀🚀</p>
    <ul class="nav footer-desc">
        <li class="nav-item"><%= image_tag 'social_network/010-linkedin.png' %></li>
        <li class="nav-item"><%= image_tag 'social_network/002-twitter.png' %></li>
        <li class="nav-item"><%= image_tag 'social_network/001-facebook.png' %></li>
        <li class="nav-item"><%= image_tag 'social_network/008-youtube.png' %></li>
    </ul>
  </div>
  <div class="second-column width-column">
    <h5 href="">A propos.</h5>
    <ul class="list-unstyled">
        <li class="footer-desc"><a href="">Conditions d’utilisation</a></li>
        <li class="footer-desc"><a href="">Politique de confidentialité</a></li>
        <li class="footer-desc"><a href="">Comment ça marche ?</a></li>
        <li class="footer-desc"><a href="">Case studies</a></li>
    </ul>
  </div>
  <div class="third-column width-column">
    <h5 class="text-md-left">Contact Us</h5>
      <form >
          <fieldset class="form-group">
              <input type="" cemaillass="form-control" id="exampleInputEmail1" placeholder="Email" style="border: none; font-family: 'Nunito'; padding-left: 10px; font-size: 13px; width: 100%;">
          </fieldset>
          <fieldset class="form-group">
              <textarea class="form-control" id="exampleMessage" placeholder="Message" style="border:none font-family:Nunito"></textarea>
          </fieldset>
          <fieldset class="form-group text-xs-right">
              <button type="button" class="btn-flat-red">Send</button>
          </fieldset>
      </form>
  </div>
</footer>
