<div class="title">
  <h2>ENGAGEMENT</h2>
</div>

<div class="figure">
  <%= image_tag 'graphs/Engagement.png', class:'engagement' %>
</div>

<div class="definition">
  <p class="legende">Montant levé</p>
</div>
