<div class="team-player">
  <div class="team-avatar">
    <%= image_tag 'avatar/Adrien.jpg', class:"avatar", alt:"avatar" %>
    <p><%= @investors_list.sample %></p>
  </div>
    <div class="team-icons">
      <% @array = ['💸', '💰💰', '🤑🤑🤑'] %>
    <p><%= @array.sample %> </p>
  </div>
</div>
<%# photo url
name
linkedin given as variable  %>
