<div class="title">
  <h2>OPERATION</h2>
</div>

<div class="figure">
  <%= image_tag 'graphs/CA.png', class:'CA' %>
</div>

<div class="definition">
  <p class="legende">Chiffre d'affaires</p>
</div>
