<div class="title">
  <h2>PROJECTIONS</h2>
</div>

<div class="figure">
  <%= image_tag 'graphs/Projections.png', class:'projections' %>
</div>

<div class="definition">
  <p class="legende">Chiffres d'affaires vs Rentabilité</p>
</div>
