            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon">
                          <%= image_tag 'avatar/Dustin.jpg' %>
                        </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">Steve Jobs</h6> <span>3 days ago</span>
                        </div>
                    </div>
                    <div class="badge"> <span>CEO</span> </div>
                </div>
                <div class="mt-5">
                    <h3 class="heading">"Thanks to Germany opening, we'll expect to make x5 on revenue in 3 years"</h3>
                    <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="mt-3"> <span class="text1">50% Collected <span class="text2">of 2 k€ asked</span></span> </div>
                    </div>
                </div>
            </div>
