<div class="title">
  <h2>TRACTION</h2>
</div>

<div class="figure">
  <%= image_tag 'graphs/Customer.png', class:'CA' %>
</div>

<div class="definition">
  <p class="legende">Leads vs Customers</p>
</div>
