<div class="title">
  <h2>VALORISATION</h2>
</div>
<div class="figures">
  <div class="figure">
    <p class="metric">3</p>
    <p class="definition">ans</p> <%# plugger le nombre de parts laissées %>
  </div>
  <div class="figure">
    <p class="metric">1:1</p> <%# plugger la conv debt to equity %>
    <p class="definition">conv.</p>
  </div>
  <div class="figure">
    <p class="metric">5%</p> <%# plugger le coupon %>
    <p class="definition">coupon</p>
  </div>
</div>
<div class="valuation">
  <div class="figure">
    <p class="metric">2,000 k€</p> <%# plugger la valo %>
    <p class="definition">demandés</p>
  </div>
  <div class="figure">
    <p class="metric">20%</p> <%# plugger la ratio %>
    <p class="definition">given shares</p>
  </div>
</div>
