<div class="block1">
  <div class="smart_money">
        <i class="ti-bar-chart"></i>
        <h1 class="title_block">Smart Money Empowers business</h1>
        <h2>Financez sainement rapidement et simplement vos projets d’entreprise </h2>
        <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
  </div>
  <div class="smart_money_img">
        <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
  </div>
</div>

<%# comment ça marche %>
<section>
  <h1 class="title_block">Comment ça, marche?</h1>
  <%# <p class="section-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> %>
  <div class="services-grid">
    <div class="service service1">
      <i class="ti-bar-chart"></i>
      <h4>Inscription</h4>
      <p>Créez un compte, exprimez votre projet et le montant que souhaité à financer</p>
      <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
    </div>

    <div class="service service2">
      <i class="ti-light-bulb"></i>
      <h4>Analyse</h4>
      <p>Nos algorithmes analysent la demande de financement et valident votre éligibilité en quelques minutes.</p>
      <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
    </div>

    <div class="service service3">
      <i class="ti-money"></i>
      <h4>Deal</h4>
      <p>Nos mettons en avant votre demande sur notre plateforme auprès des meilleurs investisseurs pour votre business </p>
      <%# <a href="#" class="cta">Read more <span class="ti-angle-right"></span></a> %>
    </div>
  </div>
</section>

<div class="line"></div>
<hr/>
<div></div>

<%# si vous etes investor %>
<section>
  <h1 class="title_block">Si vous êtes investisseur...</h1>
  <div class="block_investor">
    <div class="smart_money">
          <i class="ti-bar-chart"></i>
          <h2 class="title_block">Allez sur le site Lobster et connectez vous à votre compte pour accéder à la liste de projets à financer 🤓</h2>
          <%# <p>Financez sainement rapidement et simplement vos projets d’entreprise </p> %>
          <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
    </div>
    <div class="smart_money_img1">
          <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
    </div>
  </div>

  <div class="block_investor">
    <div class="smart_money">
          <i class="ti-bar-chart"></i>
          <h2 class="title_block">Marquez votre intérêt pour le ou les projets de financement qui vous intèressent en faisant une proposition  😍</h2>
          <%# <p>Financez sainement rapidement et simplement vos projets d’entreprise </p> %>
          <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
    </div>
    <div class="smart_money_img2">
          <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
    </div>
  </div>

  <div class="block_investor">
    <div class="smart_money">
          <i class="ti-bar-chart"></i>
          <h2 class="title_block">Faites votre audit documentaire et prenez votre décision en votre âme et conscience 😉</h2>
          <%# <p>Financez sainement rapidement et simplement vos projets d’entreprise </p> %>
          <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
    </div>
    <div class="smart_money_img3">
          <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
    </div>
  </div>

   <div class="block_investor">
    <div class="smart_money">
          <i class="ti-bar-chart"></i>
          <h2 class="title_block">Signer le contrat et émettez le transfert de fonds Lobster s’occupe de toutes les démarches légales et bancaires 🚀</h2>
          <%# <p>Financez sainement rapidement et simplement vos projets d’entreprise </p> %>
          <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
    </div>
    <div class="smart_money_img4">
          <%# <a href="#" class="cta">Read More <span class="ti-angle-right"></a> %>
    </div>
  </div>

</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5><i class="fa fa-road"></i> LOBSTER</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Product</a></li>
                            <li><a href="">Benefits</a></li>
                            <li><a href="">Partners</a></li>
                            <li><a href="">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Documentation</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Legal Terms</a></li>
                            <li><a href="">About</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Contact Us</h5>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" class="btn btn-secondary-outline btn-lg">Send</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>
