<p>La Société:</p>
<ul>
  <li> - DD Capital </li>
  <li> - SIRET: 50071592401057</li>
</ul>

<%# <p>Représenté par:</p>

<ul>
  <li> - Damien Douat </li>
</ul> %>


Ci-après appelé 'Investisseur'


et

<p>La Société:</p>
<ul>
  <li> - POLYFLAME EUROPE</li>
  <li> - SIRET: 40071593400057 </li>
  <li> - Capital social: 8 673 194 € </li>
</ul>

<p>Représenté par:</p>
<ul>
  <li> - Damien DOUAT </li>

</ul>

<p>Ci-après appelé 'Demandeur'

L'Investisseur s'engage à respecter scrupuleusement la confidentialité la plus absolue en ce qui concerne les informations et les documents que le Demandeur est conduit à communiquer à l'Investisseur dans le cadre de l’exécution du contrat que nous avons signé le 03/09/2021 <p>.

L'Investisseur reconnait avoir été informé du fait que les informations relatives à la société POLYFLAME EUROPE ont une importance stratégique pour cette société et que toute diffusion de ces informations à des tiers pourrait causer un préjudice considérable au Demandeur et engagerait la responsabilité de l'Investisseur.</p>

<p>Fait le</p> 03/09/2021 <p>à</p> Paris <p></p>
