<p>
This letter represents only a preliminary indication of interest and does not constitute a contract,
commitment, undertaking or other binding obligation or limitation on the part of any person in any
respect, except that XYZ's obligations contained in numbered paragraph 5, above, constitute the binding
and enforceable obligations of XYZ. In addition, except as specifically provided in the immediately
preceding sentence, this letter does not constitute an offer or proposal capable of acceptance. Any
obligation of ABC or its affiliates with respect to an investment in ZZZ will be only as set forth in a
definitive written agreement executed by ABC. This letter and the matters set forth herein are
confidential and may not be disclosed to any third party without the written consent of ABC. This
preliminary indication expires the earlier of the signing of any term sheet or memorandum or
understanding.
The following can be contacted for any additional information or in case it is necessary to clarify this
</p>
