<p>
La Société:</p>
<ul>
<%# - <%= @investor.company} %>
<li> <%= investor.capital %> </li>
- #{@investor.address}
- #{@investor.siret}
- #{@investor.city}
</ul>

Représenté par:
- #{@investor.first_name}
- #{@investor.last_name}
- #{@investor.function}

Ci-après appelé 'Investisseur'

et
La Société:
# - #{@investee.company}
# - #{@investee.capital}
# - #{@investee.address}
# - #{@investee.siret}
# - #{@investee.city}

Représenté par:
# - #{@investee.first_name}
# - #{@investee.last_name}
# - #{@investee.function}

<p>Ci-après appelé 'Demandeur'

Nous nous engageons à respecter scrupuleusement la confidentialité la plus absolue en ce qui concerne les informations et les documents que le Demandeur est conduit à communiquer à l'Investisseur dans le cadre de l’exécution du contrat que nous avons signé le #{Date.today}.

Nous reconnaissons avoir été informés du fait que les informations relatives à la société [dénomination de la société concernée] ont une importance stratégique pour cette société et que toute diffusion de ces informations à des tiers pourrait lui causer un préjudice considérable et engagerait notre responsabilité.

Fait le <%= Date.today %> à #{@investee.city},

#{@investor.first_name}"
</p>
