.footer-lobster {
  margin-top: 100px;
  display: flex;
  padding-top: 30px;
  background-color: #F6F6F6;
  color: #bbb;
  background-position: cover;
  margin: 0;
  padding: 30px;
}

.width-column{
  margin-left: 20px;
  width: 30%;
  .list-unstyled{
    a{
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 27px;
      color: #bbb !important;
   }
   .footer-desc{
     padding: 10px 0;
   }
  }
}

h5{
  font-family: 'Urbanist';
  text-align: left;
}

.first-column {
  align-items: center;
  p{
    text-align: left;
  }
  .nav{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    width: 33%;
    img{
      width:20px;
    }
  }
}


// footer a {
//   font-family: 'Nunito', sans-serif;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 15px;
//   line-height: 27px;
//   color: #999;
//   text-decoration:none;
// }

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer {
  .form-control {
    background-color: white;
    font-family: 'Nunito';
    font-size: 12px;
    font-weight: normal;
    border: none;
    resize: none;
    color: #e2e2e2;
    padding: 0.7em 1em;
  }
}

.btn-flat-red:hover{
      color: #fff;
      background-color: #c9056a;
      border-color: #c9056a;
  }
