<div class="new-investee-form container" data-controller="fill">
  <div class="container-search" data-fill-target="containerSearch">
    <h1>👇 Entrez votre SIRET...</h1>
    <div class="d-flex justify-content-center h-100">
      <div class="search">
        <input class="search_input" data-fill-target="inputSearch" type="text" name="" placeholder="Viender petit SIRET...">
        <span class="search_icon" data-action="click->fill#updateForm">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
    <h1>...Et laissez la magie opérer</h1>
  </div>
  <%= render "new-form", investee: @investee %>

</div>
