.btn-flat-orange{
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #FFA372;
  transition: background-color 0.3s ease;
}

.btn-flat-orange:hover{
  background: #FFA372;
  color: white;
}

.btn-flat-red{
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #FA7F72;
  transition: background-color 0.3s ease;
}

.btn-flat-red:hover{
  background: #FA7F72;
  color: white;
}

  .btn-flat-green{
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #A4F6A5;
  transition: background-color 0.3s ease;
}

.btn-flat-green:hover{
  background: #A4F6A5;
  color: white;
}
