.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 30px;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card .card-icons {
  display: inline-flex;
  justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
  align-items: center;
  justify-content: center;
  border: none;
  color: rgb(34, 34, 34);
  margin: 0px;
  width: 32px;
  height: 32px;
}


.card-infos .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
