.wrapper-show{
  height: 100vh;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-color: #F9F9F9;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.module{
  font-family: 'Nunito';
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  color: black;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
}

.module.management{
  display: flex;
  flex-direction: column;
  h2{
    font-family: 'Nunito';
    font-size: 20px;
    color: #FA7F72;
  }
}

.team-cards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px;
  margin-bottom: 5px;
  width: 90%;
  border-radius: 10px;
  border-color: #e6e8e8;
  border-style: solid;
  border-width: 1px;
}

.team-player{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 8px;
}

.team-avatar{
  display: flex;
  .avatar{
    margin-right: 15px;
  }
  p{
    font-family: 'Nunito';
    color: #96999C;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    margin: 0;
  }
}
