@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Rampart+One&family=Urbanist:wght@800;900&display=swap');


.logo_font{
  width: 282px;
  height: 95px;
  font-family: 'Rampart One', cursive;
}

h1{
  font-family: 'Urbanist', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
}

#h1_orange{
  font-family: 'Urbanist', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 74px;
  color: #FFA372;
}

#h1_red{
  font-family: 'Urbanist', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 74px;
  color: #FA7F72;
}

#h1_footer{
font-family: 'Urbanist', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 36px;
color: #000000;
}

h2{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 49px;
}

h3{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 27px;
}

h4{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 31px;
  text-align: right;
  color: #B5B5B5;
}

p{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
}
