.btn-flat-orange{
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #FFA372;
  transition: background-color 0.3s ease;
}

.btn-flat-orange:hover{
  background: #FFA372;
  color: white;
}

.btn-flat-red{
  color: white;
  font-family: 'Nunito';
  font-size: 12px;
  padding: 6px 26px;
  border-radius: 50px;
  border: none;
  background: #FA7F72;
  transition: background-color 0.3s ease;
  justify-content: space-around;
}

.btn-flat-red:hover{
  background: #FA7F72;
  color: white;
}

  .btn-flat-green{
    color: black;
    font-size: 11px;
    font-family: 'Nunito';
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 50px;
    background: #A4F6A5;
    transition: background-color 0.3s ease;
    border: none;
}

.btn-flat-green:hover{
  background: #A4F6A5;
  color: white;
}

.btn-flat-blue{
  color: black;
  font-size: 11px;
  font-family: 'Nunito';
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 50px;
  background: #3E00FF;
  transition: background-color 0.3s ease;
  border: none;
}

.btn-flat-blue:hover{
  background: #3E00FF;
  color: white;
}
