#input_form{
  background: rgba(255, 255, 255, 0.51);
  border: 1px solid #A6A6A6;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #FA7F72;
}
